body {
  background-color:rgba(231, 150, 229, 0.665);
  color:purple;
  width:60vw;
  height:95%;
  margin:0 auto;
  font-family:'Courier New', Courier, monospace;
}

input, textarea {
  background-color:rgb(225, 186, 225);
  border:none;
  width:100%
}

.inline {
  width: unset;
 }
